version: '3.4'

x-logging:
  &default-logging
  options:
    max-size: '1m'
    max-file: '5'
  driver: json-file
x-logging:
  &no-logging
  driver: none
services:
  flaskql:
    build: .
    logging: *default-logging
    image: cmpilato/flaskql-playground:latest
    ports:
      - "5000:80"
    volumes:
      - ./src:/app/src
